body{
    background-color: #eaeaea;
    font-family: "poppins", sans-serif;
}

.wrapper{
    height: 100%;
    width: 100%;
    background: #eaeaea;
    position: relative;
}

.logo{
    width: 120px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 10px;
}

.nav-links li a{
    text-decoration: none;
    color: #000000;
    padding-right: 20px;
    position: relative;
}


.index{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.index h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 450px;
    font-family: "poppins", sans-serif;
}

.index form{
    background: #ffff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}

.index form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}

.index form button{
    background: #f42c38;
    color: #ffff;
    padding: 15px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.search-container h1{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 150px;
    font-family: "poppins", sans-serif;
}

.item-box{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
    margin-top: 225px;
    margin-left: 0px;
    text-align: center;
}

.staff-result h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 25px;
    font-family: "poppins", sans-serif;
}

.item-box-1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
    margin-top: 225px;
    margin-left: 0px;
    text-align: center;
}

.staff-result-1 h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 125px;
    font-family: "poppins", sans-serif;
}

.item-box-2{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
    margin-top: 275px;
    margin-left: 0px;
    text-align: center;
}

.item-box-3{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 30px;
    margin-top: 425px;
    margin-left: 0px;
    text-align: center;
}

.procedure-call-1 form button{
    background: #f42c38;
    color: #ffff;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}